.titulo{
    padding: 1em;
    text-align: center;
    color: blue;
}

form label {
    padding: 1em;
    text-align: center;
    color: blue;
}

.botones{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

button{
    width: 4em;
    height: 3em;
    margin: 1em;
}

.dato {
    text-align: center;
    font-size: 10em;
    color: blue;
    font-weight: bold;
}